{% extends "blog/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{ post.title }}
                    </div>
                    <div class="panel-body">
                        {% if post.image %}
                            <p><img src="{{ post.image.url }}" /></p>
                        {% endif %}

                        {{ post.content|linebreaksbr }}
                    </div>
                </div>
                <a href="/blog/">글목록</a>
            </div>
        </div>
    </div>
{% endblock %}
